#navbar {
    height: 100px;
    background-color: rgb(247, 247, 247);
  }
  
/*   
  #shoe-image {
    height: 50%;
    width: 50%;
    padding: 1%;
  } */
  
  .color-block {
    height: 50px;
    width: 50px;
    /* display: inline-block; */
  }
  
  .size-button {
    width: 183px;
    height: 48;
    margin: 2.5px;
  }
  
  
  #carousel {
    height: 100px;
    width: 100%;
    background-color: grey;
  }
  /*  */
